
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    width:90%;
    margin-top:20px;
    text-decoration: none;

}

.flex-container > div{
    /* border: 2px solid red; */
    border: 0.5px solid white;
    width:300px;
    margin: 20px;
    height: 580px;
    box-shadow: rgba(214, 208, 208, 0.25) 0px 54px 55px, rgba(213, 200, 200, 0.12) 0px -12px 5px, rgba(238, 229, 229, 0.12) 0px 4px 6px, rgba(255, 247, 247, 0.17) 0px 5px 5px, rgba(232, 223, 223, 0.09) 0px -3px 5px;;
}

.img-container{
    height: 300px;
    width:100%;
    /* border: 2px solid green; */
}

.img-container > img{
    height: 100%;
    width:100%;
}

.desc-container{
    height: 180px;
    width:100%;
    /* border: 2px solid orange; */
    margin-top:10px;
}



.desc-container > p{
    /* color: white; */
    /* border: 2px solid white; */
    margin-top: 10px;
}

.img-id{
    font-size: 20px;
    font-weight: bold;
    color:gray;
    margin-left:5px;
    
}

.img-title{
    font-size: 20px;
    font-weight: bold;
    color:rgb(119, 92, 92);
    margin-left:5px;
}

.img-body{
    font-style: italic;
    font-size: 18px;
    color:whitesmoke;
    margin-left: 5px;

}